.service__container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.service{
    background: var(--color-bg-variant);
    border-radius: 2rem 2rem 2rem 2rem;
    bottom: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.service:hover{
    border-color:orange;
    border: 1px solid ; /* Initial border color */
    
}

#services{
    margin-top: -5rem;
}
.service__image{
    height:167px;
    border-radius: 2rem 2rem 0 0;
}
.service__image1{
    height: 165px;
    border-radius: 2rem 2rem 0 0;
}
.service__image2{
    width:360px;
    height: 165px;
    border-radius: 2rem 2rem 0 0;
}
.service__head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius:0 0 1rem 1rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
}

.service__head h3{
    color: var(--color-bg);
    font-size:1rem;
    text-align: center;
}

.service__list{
    padding: 2rem;
    height:350px
}

.service__list li{
    display:flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.services__list-icon{
    color: var(--color-primary);
    margin-top: 2px;
    height:40px;
    width:40px;
}

.service__list p{
    font-size: 0.9rem;
}


/*media queries */
@media (max-width: 1024px){
   .service__container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
   }

   .service{
    height:auto;
   }
}
   
@media screen and (max-width: 600px){
   .service__container{
    grid-template-columns: 1fr;
    gap: 1.5rem;
   }
   .service__image1{
    width:350px;
    height: 160.5px;
    border-radius: 2rem 2rem 0 0;
}
.service__image2{
    width:360px;
    height: 160.5px;
    border-radius: 2rem 2rem 0 0;
}
   #services{
    margin-top: 10rem;
   }
} 