.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
#portfolio{
margin-top: 130px;
}
.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition:var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
     box-shadow: inset 0px 33px 25px 0 #000, 
     inset 0 66px 15px 0px #ccc,
     inset 0 99px 5px 0px #fff;
     transform: translateY(-20px);
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}



/*Media Queries */
@media (max-width: 1024px){
    #portfolio{
        margin-top: 820px;
    }
    .portfolio__container{
        grid-template-columns:1fr 1fr;
        gap: 1.2rem;
    }
}
   
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns:1fr;
        gap: 1rem;
    }
    #portfolio{
        margin-top: 75rem;
    }
} 